<%- include('../partials/header') %>
    <main>
        <%- include('../partials/loader') %>
            <div id="smooth-wrapper">
                <div id="smooth-content">
                    <%- include('../partials/navbar') %>
                        <section class="breadcrumb">
                            <div class="breadcrumb-shape"></div>
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-lg-12">
                                        <div class="breadcrumb__wrapper">
                                            <ul class="breadcrumb__list">
                                                <li class="breadcrumb__item">
                                                    <a href="/">NexGen</a>
                                                </li>
                                                <li class="breadcrumb__item">
                                                    <span class="material-symbols-outlined">
                                                chevron_right
                                            </span>
                                                </li>
                                                <li class="breadcrumb__item">
                                                    <span class="breadcrumb__item-text"> about us </span>
                                                </li>
                                            </ul>
                                            <h1 class="breadcrumb__title"> About Us</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <section class="about-one-section py-120">
                            <div class="container">
                                <div class="row row-gap-4">
                                    <div class="col-xl-6">
                                        <div class="about-img me-xl-3 right-reveal">
                                            <div class="img">
                                                <img src="/images/about/about-img.jpg" alt="about" class="img-fluid">
                                                <div class="img-text">
                                                    <div>
                                                        <div class="number">
                                                            <span class="odometer" data-odometer-final="20">05</span>+
                                                        </div>
                                                        <p>Years Experience</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="about-text ms-xl-3">
                                            <div class="section-header-one">
                                                <h3 class="right-reveal">About Us</h6>
                                                    <h2 class="title-animation">
                                                        Nexgen Digital Services
                                                    </h2>
                                                    <p class="right-reveal">Nexgen Digital Services is a global digital services and solutions company specializing in building, operating, and scaling high-impact digital ecosystems for telecom operators and digital partners.
                                                    </p>
                                            </div>
                                            <div class="about-list ">
                                                <div class="list-item top-reveal">
                                                    <div class="icon">
                                                        <i class="flaticon-targeting"></i>
                                                    </div>
                                                    <div class="text">
                                                        <h5>Strategic Mission</h5>
                                                        <p>To empower telecom operators and digital partners by delivering scalable, secure, and innovative digital solutions that accelerate growth, enhance customer experiences, and create measurable business
                                                            impact across global markets.</p>
                                                    </div>
                                                </div>
                                                <div class="list-item top-reveal">
                                                    <div class="icon">
                                                        <i class="flaticon-strategic"></i>
                                                    </div>
                                                    <div class="text">
                                                        <h5>Strategic Vision</h5>
                                                        <p>To be a globally trusted digital transformation partner, shaping the future of connected ecosystems through cutting-edge technology, data-driven innovation, and sustainable digital platforms.</p>
                                                    </div>
                                                </div>
                                                <div class="list-item top-reveal">
                                                    <div class="icon">
                                                        <i class="flaticon-loyalty"></i>
                                                    </div>
                                                    <div class="text">
                                                        <h5>Core Values</h5>
                                                        <p>We are guided by integrity, innovation, and customer-centricity—committed to excellence, long-term partnerships, continuous improvement, and responsible digital growth that creates value for businesses
                                                            and communities alike.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <%- include('../partials/footer') %>
                </div>
            </div>
    </main>
    <%- include('../partials/footer-include') %>